# PostgreSQL connectio string to the readySetHire database
# please update db-url with your secure password
db-uri = "postgres://authenticator:yourpassword@localhost:5432/readysethire"

# expose the api schema with readySetHire database as API
db-schemas = "api"

# Role postgREST instance takes when accessing API
db_anon-role = "student"

# Generated with generate.sh 
# please enter your jwt-secret here
jwt-secret = "yourjwtsecret"

# Listening port
server-port = 3000
# 
server-host = "0.0.0.0"
