/* index.css */
html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* full screen height */
}

main {
  flex: 1; /* expand to push footer down */
}


